/* login */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

/* fim login */

/* botão tema */
#theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 10;
}

#theme-toggle i {
    font-size: 24px;
    /* ajuste o tamanho conforme necessário */
}

/* fim botão tema */

table th input::placeholder {
    font-weight: bolder
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}